



header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
}
.filter-input{
  padding-left: 40px;
}
.js-bookmark-description{
  width: 250px;
  height: 100px;
}
.js-bookmark-url{
  margin-left: 48px;
}

.js-bookmark-title{
  margin-left: 50px;
}
#rating{
  margin-left: 35px;
}
#submit{
  margin-top: 15px;
}
form {
  padding: 20px;
  border: 2px dotted gray;
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

  li {
   margin-bottom: 20px;
   border: 1px solid grey;
   padding: 20px;
   list-style-type: none;
   margin-right: 40px;
   box-shadow: 4px 5px 2px grey;
   
   
 }
 
 .error-content {
   color : red;
 }

 @media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-input{
    padding-left: 25%;
  }

 }